<%- include partials/header.ejs%>
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/planningSupports">Planning Supports</a></li>
    <li><a href="./currConn_8Tab">Curriculum Connections (k-Gr8 Tabloid)</a></li>
</ol>


<main class="container">
  <div class="row">
    <div class="col-md-8">
<h1>Curriculum Connections (k-Gr8 Tabloid)</h1>
</div>


<div class="gen-pdf col-md-4" style="margin">
    <a href="/pdf/CurriculumConnectionsGradesK-8-Tabloid.pdf" target="_blank">Download PDF</a>
</div>
</div>

<%- include partials/footer.ejs%>
