<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/desktopFrac">Unit B Desktop Fractions</a></li>
    <li><a href="/tasks/desktopFracStudentThinking">Desktop Fractions Student Thinking</a></li>
</ol>

<main class="container">
<!-- Insert pdf here-->

<%- include partials/footer.ejs%>
