<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./fracResearchFindings">Fractions Research Findings</a></li>
</ol>


<main class="container">
<!-- Insert content here-->

<iframe width="560" height="315" src="https://www.youtube.com/embed/xiCpmAFFSAg" frameborder="0" allowfullscreen></iframe>


<!--Insert transcript here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <h2>Fractions Research Findings Video Transcription</h2>

        <table>
            <tr>
                <th>Time</th>
                <th>Transcript</th>
            </tr>
        </table>

      </div>
    </div>
  </div>
</div>

<%- include partials/footer.ejs%>
