<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./litReviews">Literature Reviews</a></li>
    <li><a href="./opMultDiv">Fractions Operations: Multiplication and Division</a></li>
</ol>


<main class="container">
<!-- Insert content here-->
<div id="pdfRenderer"></div>
<iframe src="/pdf/Fractions_LitReview_MultDiv_2015.pdf" width="800px" height="600px" >
</main>
<script type="text/javascript">
	var pdf = new PDFObject({
  url: "/pdf/Fractions_LitReview_MultDiv_2015.pdf",
  id: "pdfRendered",
  pdfOpenParams: {
    view: "FitH"
  }
}).embed("pdfRenderer");
</script>
<%- include partials/footer.ejs%>
