<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="./litReviews">Literature Reviews</a></li>
    <li><a href="./opMultDiv">Fractions Operations: Multiplication and Division</a></li>
</ol>
</header>

<main class="container pdf-page">
<!-- Insert content here-->
<h2 class="col-bl">Fractions Operations:
Multiplication and Division
Literature Review</h2>
<div class="gen-pdf">
    <a href="/pdf/Fractions_LitReview_MultDiv_2015.pdf">Download PDF</a>
</div>

<h2 class="col-bl">Literature Review</h2>
<div class="center"><img src="/images/pdf-img/multDiv1.png" alt="" /></div>
<div class="col-md-2"></div>
<div class="center col-md-8">
<p>Authors:</p>
<p>Dr. Catherine Bruce, Diana Chang and Tara Flynn, Trent University Shelley Yearley, Trillium Lakelands <abbr title="District School Board">DSB</abbr>, on assignment with Ontario Ministry of Education</p></div>
<div class="clearfix"></div>
<div class="col-md-3"></div>
  <div class="col-md-6 center"><p>Submitted to Curriculum and Assessment Branch</p>
  <p>Ontario Ministry of Education</p>
  <p>December 2014</p></div>
  <div class="clearfix"></div>
<p>*Corresponding author</p>
<p>Dr. Catherine D. Bruce</p>
<p>Trent University</p>
<p>1600 West Bank Drive, OC 158</p>
<p>Peterborough, ON K9J 7B8</p>
<p>cathybruce@trentu.ca</p>

<!-- 
<h2 class="align-left"><a name="toc" id="toc" class="col-blue">Contents</a></h2>
<ul>
  <li><a href="#figTable">Table of Figures</a></li>
  <li><a href="#forward">Forward</a></li>
  <li><a href="#intro">Introduction</a></li>
  <li><a href="#res1"><abbr title="one">I.</abbr> Research on the Foundations of Fractions</a>
    <ul>
      <li><a href="#sec1">Section 1. The Importance of Fractions</a></li>
      <li><a href="#sec2">Section 2. Multiple Interpretations of Fractions</a></li>
    </ul>
  </li>
  <li><a href="#res2"><abbr title="two">II.</abbr> Research on Learning Fractions</a>
    <ul>
      <li><a href="#sec3">Section 3. Fractions as Challenging Math Content</a>
        <ul>
          <li><a href="#sec3i"><abbr title="one">i.</abbr> Difficulties Understanding and Representing Fraction Relationships</a></li>
          <li><a href="#sec3ii"><abbr title="two">ii.</abbr> Confusing the Roles of – and the Relationship Between – the Numerator and the Denominator</a></li>
          <li><a href="#sec3iii"><abbr title="three">iii.</abbr> Use of a ‘Gap Thinking’ Approach</a></li>
          <li><a href="#sec3iv"><abbr title="four">iv.</abbr> Lack of Attention to Equivalence and Equi-partitioning</a></li>
          <li><a href="#sec3sim">Similar challenges in the Ontario context</a></li>
        </ul>
      </li>
      <li><a href="#sec4">Section 4. Related Difficulties with Learning Fractions Operations</a></li>
    </ul>
  </li>
  <li><a href="#res3"><abbr title="three">III.</abbr> Research on Teaching of Fractions</a>
    <ul>
      <li><a href="#sec5">Section 5: Challenges Teaching Fractions</a>
        <ul>
          <li><a href="#sec5i"><abbr title="one">i.</abbr> Current Resources</a></li>
          <li><a href="#sec5ii"><abbr title="two">ii.</abbr> Instructional Practices in Understanding Fractions</a></li>
        </ul>
      </li>
      <li><a href="#sec6">Section 6: Different Cultural Approaches to Fractions Instruction</a>
        <ul>
          <li><a href="#sec6i"><abbr title="one">i.</abbr> Japan</a></li>
          <li><a href="#sec6ii"><abbr title="two">ii.</abbr> Korea</a></li>
          <li><a href="#sec6iii"><abbr title="three">iii.</abbr> Taiwan</a></li>
          <li><a href="#sec6iv"><abbr title="four">iv.</abbr> Key Elements in Effective Fractions Instruction Across Asian Countries</a></li>
        </ul>
      </li>
      <li><a href="#sec7">Section 7: Research-Informed Effective Instructional Practices</a>
        <ul>
          <li><a href="#sec7i"><abbr title="one">i)</abbr> Building on Student Intuitions (and Benchmarking)</a></li>
          <li><a href="#sec7ii"><abbr title="two">ii)</abbr> Identifying Content Foci for Instruction</a></li>
          <li><a href="#sec7devPro">Developing Proficiency with Iterating and Partitioning</a></li>
          <li><a href="#sec7devFrac">Developing Fraction Number Sense</a></li>
          <li><a href="#sec7build">Building Understanding of Unit Fractions</a></li>
          <li><a href="#sec7iii"><abbr title="three">iii)</abbr> Sequencing of Instruction for Fractions</a></li>
          <li><a href="#sec7seqCon">Sequence Considerations for Fraction Constructs</a></li>
          <li><a href="#sec7iv"><abbr title="four">iv)</abbr> Transitioning to Addition and Subtraction of Fractions</a></li>
          <li><a href="#sec7epk">Essential Prior Knowledge</a></li>
          <li><a href="#sec7seqAddSub">Sequencing Learning of Addition and Subtraction of Fractions</a></li>
        </ul>
      </li>
      <li><a href="#sec8">Section 8: Implications for Canadian Research</a></li>
      <li><a href="#ref">References</a></li>
      <li><a href="#appA">Appendix A: Fractions Addition and Subtraction Learning Trajectory (Draft)</a></li>
    </ul>
  </li>
</ul>
<h2 class="align-left"><a name="toc" id="toc" class="col-blue">Table of Figures</a></h2>
<ul>
  <li><a href="#fig1">Figure 1: Number Line Models</a></li>
  <li><a href="#fig2">Figure 2: Continuous Models</a></li>
  <li><a href="#fig3">Figure 3: Discrete Models</a></li>
  <li><a href="#fig4">Figure 4: Quotient Model</a></li>
  <li><a href="#fig5">Figure 5: Embedding in the Context of Partitioning and Iterating</a></li>
  <li><a href="#fig6">Figure 6: Comparing Named Fractional Amounts (four fifths and eight ninths)</a></li>
  <li><a href="#fig7">Figure 7: Placing Fractions on a Number Line</a></li>
  <li><a href="#fig8">Figure 8: Representing Two-fifths and Four-tenths</a></li>
  <li><a href="#fig9">Figure 9: Student Interpretations of Four-tenths</a></li>
  <li><a href="#fig10">Figure 10: Japanese Textbook: Excerpt from Table of Contents</a></li>
  <li><a href="#fig11">Figure 11: Japanese Textbook: Excerpt on Addition and Subtraction of Fractions</a></li>
  <li><a href="#fig12">Figure 12: Partitioning a Whole into Fifths</a></li>
  <li><a href="#fig13">Figure 13: Iterating Fifths to create a Whole</a></li>
  <li><a href="#fig14">Figure 14: Number Line Model</a></li>
  <li><a href="#fig15">Figure 15: Splitting to Determine Equivalence</a></li>
  <li><a href="#fig16">Figure 16: Merging to Determine Equivalence</a></li>
  <li><a href="#fig17">Figure 17: Components of Fraction Number Sense</a></li>
  <li><a href="#fig18">Figure 18: Mack Suggested Instruction Sequence</a></li>
</ul>
<h2 id="forward" class="col-blue align-left">Forward</h2>
<p>Prior to engaging in collaborative action research with teacher teams and students in Ontario classrooms, this literature review was undertaken to provide a synthesis of existing knowledge from the field of educational research focused on the learning and teaching of fractions. The authors of this study are educational researchers in Ontario, Canada. They have experience as practicing teachers, teacher educators and academic researchers with ongoing intensive work in classrooms with teachers and students. This literature review provides the foundation for continued Canadian research in the learning and teaching of the addition and subtraction of fractions.</p>
<p>The literature review begins with an extensive examination of foundational concepts of fractions as the groundwork for understanding operations of fractions. It is clear from the research that issues and challenges in the learning and teaching of fractions operations (adding and subtracting) stem from fragile and superficial understandings of these foundational concepts of fractions.</p>
<p>This literature review is organized under the following headings: </p>
<ol type="I">
  <li>research on the foundations of fractions, </li>
  <li>research on learning fractions, and </li>
  <li>research on teaching fractions.</li>
</ol>
<p>Finally, the literature review ends with a discussion of the implications for Canadian research directions.</p> -->
<h2 id="intro" class="col-bl">1. Introduction</h2>
<p>The following literature review discusses current and seminal research on
fractions operations, specifically fractions multiplication and division. This
review builds on a previous literature review of the foundations of fractions,
Foundations to Learning and Teaching Fractions: Addition and Subtraction
Literature Review (Bruce, Chang, Flynn & Yearley, 2013). This operations
literature extends beyond the foundations review to offer new insights into
the challenges of understanding fractions operations, specifically
multiplication and division, and promising teaching practices that support
students in a deep understanding of these procedures and their conceptual
underpinnings. This document begins by outlining the methods used to
conduct the literature review and then provides a comprehensive discussion
of the central themes and key issues identified in the research to date on
fractions multiplication and division.</p>
<h2 id="" class="col-bl align-left">Review Methods</h2>
<p>To develop this document, a comprehensive literature review examining
research on multiplication and division of fractions was completed. Relevant
articles were retrieved, read and summarized. A database of reviewed articles
was created and includes article citations, abstracts, brief summaries and
additional notes (see appendix). Articles were selected from literature searches
using the key words: “Fractions Operations,” “Fractions and Multiplication,”
“Fractions and Division,” “Fractions and Multiplications and Division,” and
“Multiplication and Division of Fractions” (with a focus on the latter two) in
the research database ProQuest.</p>
<h5 class="col-bl"><strong>Summary of literature searches</strong> (as of 2013-12-19):</h5>
<table class="tbl-col4 tbl-black center">
  <thead>
    <tr>
      <th></th>
      <th>ProQuest</th>
      <th>ProQuest (Peer Reviewed)</th>
      <th>ProQuest (Scholarly Journals)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fractions</td>
      <td>12190</td>
      <td>3999</td>
      <td>3789</td>
    </tr>
    <tr>
      <td>Fractions Operations</td>
      <td>790</td>
      <td>209</td>
      <td>190</td>
    </tr>
    <tr>
      <td>Fractions and Multiplication</td>
      <td>453</td>
      <td>140</td>
      <td>112</td>
    </tr>
    <tr>  
      <td>Fractions and Division</td>
      <td>3289</td>
      <td>266</td>
      <td>247</td>
    </tr>
    <tr>
      <td>Fractions and Multiplication and Division</td>
      <td>294</td>
      <td>61</td>
      <td>55</td>
    </tr>
    <tr>
      <td>Multiplication and Division of Fractions</td>
      <td>285</td>
      <td>55</td>
      <td>49</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<p>TThe number of articles identified in these key word searches may appear large
upon first consideration, but in fact this set is significantly smaller in size and
scope compared to the total articles in consideration for the Foundations to
Learning and Teaching Fractions: Addition and Subtraction Literature Review.
Some articles were rejected as they were insufficient in their rigour of
methods or in the sample size. Quantitative articles with clear and valid
research methods were selected to identify trends and large-scale findings.
Qualitative articles were selected to develop a fine-grained understanding of
the issues of challenge and promise related to fractions operations. In total,
73 articles were thoroughly reviewed and summarized in our database, as well
as 4 current and highly regarded books with sections devoted to
multiplication and division with fractions.</p>
<h3 id="" class="col-bl align-left">Overview</h3>
<p>Fractions are relational representations that can be perceived as continuous or
discreet quantities, and are an integral part of our everyday lives from birth.
The emphasis on whole number counting at an early age tends to reinforce a
strong concept of numbers as whole numbers. When students are then, much
later, introduced to non-integer number types such as fractions, they may find
it difficult to transition to thinking about a continuous system or quantities
that vary from „the whole‟. “Research indicates that children have difficulty
integrating fractions into their already well-established understanding of
whole numbers (Staflyidou & Vosniadou, 2004; Vamvakoussi & Vosniadou,
2010; Ni & Zhou, 2005), and even adults at community colleges seem to lack
fundamental understanding of how to use fractions (Stigler et. al., 2010)”
(DeWolf, Bassok & Holyoak, 2013, p. 389).</p>
<p>If foundational concepts and understanding of fractions are not addressed
effectively, the groundwork is not in place for further manipulation of
fractions and fractions ideas, such as considering operations contexts and
procedures. Multiplication and division of fractions has proven to be a
particularly difficult area to both teach and learn. This difficulty is also related
to the complexity of fractions themselves as a „multifaceted construct‟. Further,
student misunderstandings of the meaning behind algorithmic „shortcuts‟ with
fractions, can lead to later problems in other areas of mathematics, such as
algebra. </p>
<p>In this literature review, we begin by examining research on the conceptual
underpinnings of multiplication and division with fractions. We then identify
the current prevailing strategies for teaching multiplication and division with
fractions and the related common student and teacher misconceptions. We
then outline some of the more effective models and promising practices for teaching multiplication and division with fractions. In the final section we offer
some recommendations for consideration and further discussion. </p>
<h2 id="" class="col-bl">2. Conceptual Underpinnings of Multiplication and Division
with Fractions</h2>
<p>Multiplication and division with fractions is more complex than whole number
multiplication and division (Lamon, 1999). When we consider that, in addition
to the many interpretations of multiplication or division, there are also five
meanings/interpretations of fractions depending on the context, we can see
how complex these operations are for students. (The five subconstructs - or
meanings of fractions, including part-whole, part-part, operator, quotient, and
measure - are outlined in detail in the Foundations to Learning and Teaching
Fractions: Addition and Subtraction Literature Review, Bruce et al., 2013, and
discussed elsewhere in the current literature review.) </p>
<p>It is important to understand what is occurring when we multiply two
fractions. In an area (array) model, we consider multiplication as the shared
space of two numbers. In whole numbers, the shared space of 3 columns and
6 rows is 18 cells (3 x 6 = 18). With fractions, we can also think about the
shared space using a partitioned area model. Important for the discussion of
fraction division models below, the product of length x width (or AxB) can
also be called a Cartesian product. In a fractions example, the shared space of <abbr title=""><sup>1</sup>&frasl;<sub>3</sub></abbr> of the area and <abbr title=""><sup>1</sup>&frasl;<sub>6</sub></abbr> of the area is <abbr title=""><sup>1</sup>&frasl;<sub>18</sub></abbr> of the whole area (<abbr title=""><sup>1</sup>&frasl;<sub>3</sub></abbr> x <abbr title=""><sup>1</sup>&frasl;<sub>6</sub></abbr> = <abbr title=""><sup>1</sup>&frasl;<sub>18</sub></abbr>). This is
illustrated in the following diagram:</p>
<figure id="fig1"  class="center">
  <figcaption>Figure 1: Area model of whole number multiplication</figcaption>
  <img src="/images/pdf-img/multDiv2.png" alt=""/> 
</figure>
<figure id="fig2"  class="center">
  <figcaption>Figure 2: Area model of multiplication of fractions</figcaption>
  <img src="/images/pdf-img/multDiv3.png" alt=""/> 
</figure>
<p>In addition to the area model, whole number multiplication by skip counting
can be adapted for fraction multiplication. Consider the following example of
whole number skip counting (or repeated addition: 3+3+3+3+3+3 =18, or
6x3 =18:
</p>
<figure id="fig3"  class="center">
  <figcaption>Figure 3: Number line model of whole number skip counting</figcaption>
  <img src="/images/pdf-img/multDiv4.png" alt=""/> 
</figure>
<p>For fractions, the line can run from 0 to 1 and the unit fraction can be used
for repeated addition. Thinking about 18 units partitioned equally means that
each jump of 3 is one sixth (the unit). In this example, we are now adding, or
counting by, one-sixth units: 1 one-sixth, 2 one-sixths, 3 one-sixths, 4 onesixths,
5 one-sixths, 6 one-sixths. This is the same as or at least similar to 6x<abbr title=""><sup>1</sup>&frasl;<sub>6</sub></abbr></p>
<figure id="fig4"  class="center">
  <figcaption>Figure 4: Number line model of skip counting fractions</figcaption>
  <img src="/images/pdf-img/multDiv5.png" alt=""/> 
</figure>
<p>The following photo is a student work example of repeated fraction addition
using jumps along a number line. The students were posed the following
problem: There are 3 meters of ribbon. Each decoration needs <abbr title=""><sup>2</sup>&frasl;<sub>5</sub></abbr> of a meter of ribbon. How many decorations can you make? </p>
<figure id="fig5"  class="center">
  <figcaption>Figure 5 Sample of student solution to ribbon question</figcaption>
  <img src="/images/pdf-img/multDiv6.png" alt=""/> 
</figure>
<p>Three multiplication strategies (meaning, ways of thinking about
multiplication) applied to both fractions and other number systems are
outlined in the table below: (See Empson, page 189)</p>
<table class="tbl-col3 tbl-black">
  <thead>
    <tr>
      <th>Multiplication Strategy</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Measurement multiplication</td>
      <td>When thinking about equal groups, the known values are usually the number of groups and the size of the groups. We use these to determine the total quantity.</td>
      <td>A recipe calls for <abbr title=""><sup>3</sup>&frasl;<sub>4</sub></abbr> of a cup of flour. How much flour is needed to make <abbr title=""><sup>1</sup>&frasl;<sub>2</sub></abbr> of the recipe? “What is one-half of three-fourths?”<br><img src="/images/pdf-img/multDiv7.png" alt=""/> </td>
    </tr>
    <tr>
      <td>“Partial groups” multiplication</td>
      <td>In this example we are multiplying one fraction quantity with another fraction quantity.</td>
      <td>Each bag of candy has <abbr title=""><sup>1</sup>&frasl;<sub>2</sub></abbr> a pound. There are 3<abbr title=""><sup>1</sup>&frasl;<sub>2</sub></abbr> bags of candy. How much candy do I have all together?</td>
    </tr>
    <tr>
      <td>Cartesian product</td>
      <td>This model considers multiplication as the shared space of two numbers. </td>
      <td><img src="/images/pdf-img/multDiv8.png" alt=""/></td>
    </tr>
  </tbody>
</table>
<p>It is also important to understand what happens when we divide two
fractions. The complexity of this operation is apparent when we consider the
many interpretations for the division of fractions. There are, in fact, several
different ways to think about, or models for, division, according to Yim (2010)
and Sinicrope, Mick and Kolb (2002). Sinicrope, Mick and Kolb (2002) explain
that we may “divide to determine how many times one quantity is contained
in a given quantity, to share, to determine what the unit is, to determine the
original amount, and to determine a dimension for an array” (p. 161). As with
multiplication of fractions, it is helpful to relate our knowledge of whole
number operations to fraction operations, and, therefore, to consider models
that can be used for both division of whole numbers and division of fractions.
The following table outlines division strategies as they apply to other number
systems and as they relate more specifically to fractions:</p>
<h3 id="" class="align-left col-bl">Applied to other number systems</h3>
<table class="tbl-black tbl-col3">
  <thead>
    <tr>
      <th>Division Strategy</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Measurement division (Quotative)</td>
      <td>This model involves determining the number of groups, or how many times x goes in to y. </td>
      <td>Consider using pattern blocks and thinking about how many blue rhombuses fit into 3 yellow hexagons – what fraction would one rhombus represent?</td>
    </tr>
    <tr>
      <td>Partitive division (Fair Share)</td>
      <td>This model involves sharing something equally among friends. It involves determining the size of the group. Paper folding is a helpful way for children to understand partitive division.</td>
      <td>If three friends share <abbr title=""><sup>1</sup>&frasl;<sub>3</sub></abbr> kilogram of chocolate, how much chocolate does each friend get?</td>
    </tr>
    <tr>
      <td>Division as the inverse of a Cartesian product (product-andfactors division)</td>
      <td>This model is similar to the area model interpretation of multiplication described above (finding a Cartesian product). It involves determining the dimension of a rectangular area.</td>
      <td>A rectangle has an area of <abbr title=""><sup>6</sup>&frasl;<sub>20</sub></abbr> square units. If one
side length is <abbr title=""><sup>3</sup>&frasl;<sub>4</sub></abbr> units, what is the other side length?<br><img src="/images/pdf-img/multDiv9.png" alt=""/></td>
    </tr>
  </tbody>
</table>
<h3 id="" class="align-left col-bl">As related to fractions</h3>
<table class="tbl-black tbl-col3">
  <thead>
    <tr>
      <th>Division Strategy</th>
      <th>Description</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Determination of a unit rate</td>
      <td>This model emphasizes the size of one group (the unit rate). </td>
      <td>A printer can print 20 pages in two and onehalf minutes. How many pages does it print per minute?</td>
    </tr>
    <tr>
      <td>Inverse of multiplication</td>
      <td>This model relies on understanding that division is the inverse of multiplication. By inverting a fraction and multiplying, the inverse is applied.</td>
      <td>In a seventh-grade survey of lunch preferences, 48 students prefer pizza. This is one and one-half times the number of students who prefers the salad bar. How many prefer the salad bar?</td>
    </tr>
</tbody>
</table>
<p>(Sinicrope, Mick & Kolb, 2002)</p>
<p>The follow example further expands on the last strategy in the table above,
“Inverse of multiplication.” Since division is the inverse of multiplication, and a
Cartesian product is calculated in a model for fraction multiplication (as in the
area model described above), it makes sense that the inverse of a Cartesian
product is calculated in a fraction division model. The following diagrams
outline this inverse model:</p>
<!-- PAGE 15/66 -->

<hr>
<h2 id="ref" class="col-bl">8. References</h2>
<p>Armstrong, B.E. & Larson, C.N. (1995). Students’ use of part-whole & direct comparison strategies for comparing partitioned rectangles, Journal of Research in Mathematics Education, 26(1), 2–19.</p>
<p>Behr, M., Harel, G., Post, T. & Lesh, R. (1993). Rational numbers: Toward a semantic analysis-emphasis on the operator construct. In T. P. Carpenter, E. Fennema & T. A. Romberg (Eds.), Rational numbers: An integration of research (pp. 13-47). Hillsdale, NJ: Erlbaum.</p>
<p>Boaler, J. (1993). Encouraging the transfer of ‘school’ mathematics to the ‘real world’ through the integration of process and content, context and culture, Educational Studies in Mathematics, 25, 314–373.</p>
<p>Brown, C. A. (1993). A critical analysis of teaching rational number. In T. P. Carpenter, E. Fennema & T. A. Romberg (Eds.), Rational numbers: An integration of research (pp. 197-218). Hillsdale, NJ: Erlbaum.</p>
<p>Brown, G., & Quinn, R. J. (2006). Algebra students’ difficulty with fractions: An error analysis. Australian Mathematics Teacher, 62, 28-40.</p>
<p>Brown, G.B., & Quinn, R.J. (2007). Investigating the relationship between fraction proficiency and success in algebra. Australian Mathematics Teacher, 63, 8-15.</p>
<p>Bruce, C. (2007).Student interaction in the math classroom: Stealing ideas or building understanding? Research into Practice: Ontario Association of Deans of Education. Research Monograph # 1 (premier edition), 1-4. Bruce, C. & Ross, J. (2009). Conditions for effective use of interactive on-line learning objects: The case of a fractions computer-based learning sequence. The Electronic Journal of Mathematics and Technology, 3, (1). ISSN 1933-2823.</p>
<p>Carpenter, T., Corbitt, M., Kepner, H., Lindquist, M., & Reys, R. (1980). National assessment: A perspective of students’ mastery of basic mathematics skills. In M. M. Lindquist (Ed.), Selected issues in mathematics education (pp. 215-227). Chicago: National Society for the Study of Education and Reston, VA: National Council of Teachers of Mathematics.</p>
<p>Carpenter, T., Fennema, E., & Romberg, T. (1993). Toward a unified discipline of scientific inquiry. In T. P. Carpenter, E. Fennema & T. A. Romberg (Eds.), Rational numbers: An integration of research (pp. 1-11). Hillsdale, NJ: Erlbaum.</p>
<p>Charalambous, C. Y., Delaney, S., Hsu, H., & Mesa, V. (2010). A comparative analysis of the addition and subtraction of fractions in textbooks from three countries. Mathematical Thinking and Learning: An International Journal, 12(2), 117-151.</p>
<p>Charalambous, C. & Pitta-Pantazi, D. (2005). Revisiting a theoretical model on fractions: Implications for teaching and research. Paper presented at the 29th Conference of the International Group for the Psychology of Mathematics Education, Melbourne, Australia. Retrieved September 4, 2011 from http://www.emis.de/proceedings/PME29/PME29CompleteProc/PME29Vol2Adl_Fre.pdf .</p>
<p>Clarke, D. & Roche, A. (2011). Some advice for making the teaching of fractions a research-based, practical, effective and enjoyable experience in the middle years. Australian Catholic University. Retrieved on 08 September 2011 from http://gippslandtandlcoaches.wikispaces.com/file/view/fractions.pdf.</p>
<p>Clarke, D.M., & Roche, A. (2009). Students’ fraction comparison strategies as a window into robust understanding and possible pointers for instruction. Educational Studies in Mathematics, 72, 127-138.</p>
<p>Conference Board of the Mathematical Sciences (2012). The Mathematical Education of Teachers II. Providence RI and Washington DC: American Mathematical Society and Mathematical Association of America.</p>
<p>Confrey, J. (2012). Articulating a learning sciences foundation for learning trajectories in the CCSS-M. In L. Van Zoest, J.J. Lo, J. Kratky (Eds.) Proceedings of the 34th Annual Meeting of the North American Chapter of the International Group for the Psychology of Mathematics Education (2-22). Kalamazoo, MI.</p>
<p>Confrey, J. (1994). Splitting, similarity, and the rate of change: A new approach to multiplication and exponential functions. In G. Harel, & J. Confrey.The development of multiplicative reasoning in the learning of mathematics (pp. 291-330). Albany: State University of New York Press.]</p>
<p>Confrey, J., Maloney, A. P., Wilson, P. H., & Nguyen, K. H. (2010). Understanding over time: The cognitive underpinnings of learning trajectories. Paper presented at the annual meeting of the American Education Research Association, Denver, CO.
<p>Cramer, K., Monson, D., Whitney, S., Leavitt, S., & Wyberg, T. (2010). Dividing fractions and problem solving. Mathematics Teaching in the Middle School 15 (February), 338-46.</p>
<p>Daro, P., Mosher, F. & Corcoran, T. (2011) Consortium for Policy Research in Education. Learning Trajectories in Mathematics: A Foundation for Standards, Curriculum, Assessment, and instruction. CPRE Research Report # RR-68.
  Available at: http://www.cpre.org/images/stories/cpre_pdfs/learning%20trajectories%20in%20math_ccii%20report.pdf</p>
<p>Empson, S. & Levi, L. (2011). Extending children’s mathematics: Fractions and decimals: Innovations in cognitively guided instruction. Portsmouth, NH: Heinemann. Pp. 178-216.</p>
<p>Gould, P., Outhred, L., & Mitchelmore, M. (2006). Conference proceedings of the 2006 meeting of the Mathematics Education Research Group of Australia (MERGA). Australia.</p>
<p>Grillo, J.,Latif, D., Stolte, S. (2001). The relationship between preadmission indicators and basic math skills at a new school of pharmacy. The Annals of Pharmacotherapy, 35(2), 167-72.</p>
<p>Hackenberg, A. J. (2010). Students' Reasoning with Reversible Multiplicative Relationships. Cognition and Instruction, 28(4), 383-432.</p>
<p>Hackenberg, A. & Lee, M. (2012). Pre-fractional middle school students’ algebraic reasoning. In L.R. Van Zoest, J.J. Lo, & J.L. Kratky (Eds.), Proceedings of the 34th annual meeting of the north American chapter of the international group for the psychology of mathematics education (pp. 943-950). Kalamazoo, MI: Western Michigan University.</p>
<p>Hart, K. (1988). Ratio and proportion. In J. Hiebert & M. J. Behr (Eds) Number concepts and operations in the middle grades. Hillsdale, NJ: Lawrence Erlbaum Associates, 198-219.</p>
<p>Hasemann, K. (1981). On difficulties with fractions. Educational Studies in Mathematics, 12. 71-87.</p>
<p>Hecht, S.A., Close, L., & Santisi, M. (2003). Sources of individual differences in fraction skills. Journal of Experimental Child Psychology, 86(4), 277-302.</p>
<p>Hiebert, J. (1988). A theory of developing competence with written mathematical symbols. Educational studies in mathematics, 19, 333-355.</p>
<p>Hitotumatu, S. (2011). Study with your friends: Mathematics for elementary school Grade 4. (M. Isoda, & A. Murata, Trans.). Toyko, Japan: Gakko Tosho Co, Ltd.</p>
<p>Huinker, D. (1998). Letting fraction algorithms emerge through problem solving. In L. J. Morrow and M. J. Kenny (Eds.), The Teaching and Learning of Algorithms in School Mathematics (pp. 198-203). Reston, VA: National Council of Teachers of Mathematics.</p>
<p>Jigyel, K., & Afamasaga-Fuata’i, K. (2007). Students’ conceptions of models of fractions and equivalence. Australian Mathematics Teacher, 63, 17-25.</p>
<p>Johanning, D. I. (2011). Estimation's role in calculations with fractions. Mathematics Teaching In the Middle School, 17(2), 96-102.</p>
<p>Kamii, C. & Clark, F.B. (1995). Equivalent fractions: Their difficulty and educational implications. Journal of Mathematical Behaviour, 14(4), 365–378.</p>
<p>Kamii, C., & Warrington, M.A. (1999) Teaching fractions: fostering children’s own reasoning. In Stiff, L (Ed.), Developing mathematical reasoning in grades K-12 (pp. 82-92). Reston, VA: National Council of Teachers of Mathematics.</p>
<p>Keijzer, R., & Terwel, J. (2001). Audrey's acquisition of fractions: A case study into the learning of formal mathematics. Educational Studies in Mathematics, 47(1), 53-73.</p>
<p>Kieren, T. (1995). Creating spaces for learning fractions. In J. T. Sowder & B.P. Schappelle (Eds.), Providing a foundation for teaching mathematics in the middle grades (pp. 31-65). New York: State University of New York Press.</p>
<p>Kieren, T. (1980). The rational number construct: Its elements and mechanisms. In T.E. Kieren (Ed.), Recent Research on Number Learning (pp. 125-149).</p>
<p>Kilpatrick, J., Swafford, J., Findell, B., & National Academy of Sciences - National Research Council, W. N. (2001). Adding it up: Helping children learn mathematics.</p>
<p>Kong, S. C. (2008). The development of a cognitive tool for teaching and learning fractions in the mathematics classroom: A design-based study. Computers & Education, 51(2), 886-899.</p>
<p>Lamon, S. (2001). Presenting and representing: From fractions to rational numbers. In A. Cuoco & F. Curcio (Eds.), The roles of representations in school mathematics-2001 yearbook (pp. 146-165). Reston: NCTM.</p>
<p>Lamon, S. (1999). Teaching Fractions and Ratios for Understanding. Mahwah, N.J.: Lawrence Erlbaum Associates.</p>
<p>Lappan, G., & Bouck, M. K. (1998). Developing algorithms for adding and subtracting fractions. In L. J. Morrow and M. J. Kenny (Eds.), The Teaching and Learning of Algorithms in School Mathematics (pp. 183-197). Reston, VA: National Council of Teachers of Mathematics.</p>
<p>Mack, N. K. (2004). Connecting to develop computational fluency with fractions. Teaching Children Mathematics, 11(4), 226-232.</p>
<p>Mack, N. K. (2001). Building on informal knowledge through instruction in a complex content domain: Partitioning, units, and understanding multiplication of fractions. Journal for Research in Mathematics Education, 32, 267-295.</p>
<p>Mack, N. K. (1995). Confounding whole-number and fraction concepts when building on informal knowledge. Journal for Research in Mathematics Education, 26, 422-441.</p>
<p>Mack, N. K. (1993). Learning rational numbers with understanding: The case of informal knowledge. In T. P. Carpenter, E. Fennema & T. A. Romberg (Eds.), Rational numbers: An integration of research (pp. 85-105). Hillsdale, NJ: Erlbaum.</p>
<p>Mamolo, A., Sinclair, M., & Whiteley, W. J. (2011). Proportional reasoning with a pyramid. Mathematics Teaching in the Middle School, 16(9), 544-549.</p>
<p>Marshall, S.P. (1993). Assessment of rational number understanding: A schema-based approach. In T. P. Carpenter, E. Fennema & T. A. Romberg (Eds.), Rational numbers: An integration of research (pp. 261-288). Hillsdale, NJ: Erlbaum.</p>
<p>Meagher, M. (2002). Teaching fractions: New methods, new resources. ERIC Digest ED478711.</p>
<p>Moseley, B. (2005). Students’ early mathematical representation knowledge: The effects of emphasizing single or multiple perspectives of the rational number domain in problem solving. Educational Studies in Mathematics, 33, 37-69.</p>
<p>Moseley, B., & Okamoto, Y. (2008) Identifying fourth graders’ understanding of rational number representations: A mixed methods approach. School Science and Mathematics 108(6), 238-250.</p>
<p>Moss, J. & Case, R. (1999). Developing children’s understanding of the rational numbers: A new model and an experimental curriculum. Journal for Research in Mathematics Education 30(2), 122-147.</p>
<p>Mullis, I., Martin, M., Foy, P., & Arora, A. (2011).Trends in International Mathematics and Science Study (TIMSS) 2011 International Results in Mathematics. Chestnut Hill, MA: Boston College.</p>
<p>Murata, A. (2012, October). Representations. In C. Bruce (Chair), Think Tank on the Addition and Subtraction of Fractions. Think Tank conducted in Barrie, Ontario.</p>
<p>National Assessment of Educational Progress. (2005). The nation’s report card: Mathematics 2005. Retrieved from http://nces.ed.gov/nationsreportcard/pdf/main2005/2006453.pdf</p>
<p>OECD (2010). PISA 2009 Results: Executive Summary. Retrieved from http://www.oecd.org/pisa/pisaproducts/46619703.pdf</p>
<p>Okamoto, Y. (2012, October). Considerations for Effective Fractions Instruction. In C. Bruce (Chair), Think Tank on the Addition and Subtraction of Fractions. Think Tank conducted in Barrie, Ontario.</p>
<p>Ontario Ministry of Education. (in press). Professional Learning about Fractions Digital Paper. Available from the EduGAINS website, www.edugains.ca/</p>
<p>Orpwood, G., Schollen, L., Leek, G., Marinelli-Henriques, P., & Assiri, H. (2012). College mathematics project 2011: Final report. Retrieved from http://collegemathproject.senecac.on.ca/cmp/en/pdf/FinalReport/2011/CMP_2011_Final_Report%20-%2002Apr12%20pmh.pdf</p>
<p>Pearn, C., & Stephens, M. (2004). Why you have to probe to discover what Year 8 students really think about fractions. In I. Putt, R. Faragher, & M. McLean (Eds.), Mathematics education for the third millennium: Towards 2010. (Proceedings of the 27th annual conference of the Mathematics Education Research Group of Australasia, pp. 430-437), Sydney: MERGA</p>
<p>Petit, M., Laird, R., & Marsden, E. (2010). A focus on fractions. New York, NY: Routledge.</p>
<p>Pirie, S., & Kieran, T. (1994). Growth in mathematical understanding: How can we characterise it and how can we represent it? Educational Studies in Mathematics, 26,165–190.</p>
<p>Pitta-Pantazi, D., Gray, E., & Christou, C. (2004). Elementary school students’ mental representations of fractions. Proceedings of the 28th Conference of the International Group for the Psychology of Mathematics Education, Vol. 4, 41-48.</p>
<p>Post, T. R., Behr, M.J., & Lesh, R. (1986). Research-based observations about children's learning of rational number concepts. Focus On Learning Problems In Mathematics, 8(1), 39-48.</p>
<p>Post, T., Cramer, K., Behr, M., Lesh, R. & Harel, G. (1993). Curriculum implications of research on the learning, teaching and assessing of rational number concepts. In T. P. Carpenter, E. Fennema & T. A. Romberg (Eds.), Rational numbers: An integration of research (pp. 327-362). Hillsdale, NJ: Erlbaum.</p>
<p>Saxe, B., Shaughnessy, M., Shannon, A., Langer-Osuna, J., Chinn, R., & Gearhart, M. (ND). Learning about fractions as points on a number line. Retrieved from http://www.education.miami.edu/FacultyStaff/media/210/NCTMPaper.pdf</p>
<p>Saxe, G., Taylor, E., McIntosh, C., & Gearhart, M. (2005). Representing fractions with standard notation: A developmental analysis. Journal for Research in Mathematics Education 36(2), 137–157.</p>
<p>Siebert, D., & Gaskin, N. (2006). Creating, naming, and justifying fractions. Teaching Children Mathematics, 12(8), 394-400.</p>
<p>Siegler, R., Carpenter, T., Fennell, F., Geary, D., Lewis, J., Okamoto, Y., Thompson, L., & Wray, J. (2010). Developing effective fractions instruction for kindergarten through 8th grade: A practice guide (NCEE #2010-4039). Washington, DC: National Center for Education Evaluation and Regional Assistance, Institute of Education Sciences, U.S. Department of Education. Retrieved from whatworks.ed.gov/ publications/practiceguides.</p>
<p>Simon, M. (2002). Focusing on critical understandings in mathematics. In D. Mewborn, P. Sztajn, D. White, H. Wiegel., R. Bryant, & K. Nooney (Eds.), Proceedings of the Twenty-fourth Annual Meeting of the North American Chapter of the International Group for the Psychology of Mathematics Education, Vol II, (991-998). Athens, GA: ERIC.</p>
<p>Smith, J. (2002). The development of students' knowledge of fractions and ratios.</p>
<p>Son, J. (2011). A global look at math instruction. Teaching Children Mathematics, 360-370.</p>
<p>Sophian, C., & Wood, A. (1997). Proportional reasoning in young children: The parts and the whole of it. Journal of Educational Psychology, 89(2), 309–317.</p>
<p>Steffe, L., & Olive, J. (2010). Children’s fractional knowledge. New York, NY: Springer Science and Business Media</p>
<p>Stigler, J.W., & Perry, M. (1988). Mathematics learning in Japanese, Chinese, and American classrooms. In G.B. Saxe & M. Gearhart (Eds.), Childrens’ Mathematics: New Directions for Child Development 41, 27-54.</p>
<p>Streefland, L. (1991). Fractions in Realistic Mathematics Education: A Paradigm of Developmental Research.</p>
<p>Thomas, N., Mulligan, J., & Goldin, G.A. (2002). Children’s representation and structural development of the counting sequence 1-100. Journal of Mathematical Behavior, 17(2), 167-181.</p>
<p>Thompson, P.W. & Saldanha, L.A. (2003). Fractions and multiplicative reasoning. In J. Kilpatrick, W.G. Martin, & D. Schifter (Eds.), A research companion to principals and standards for school mathematics (pp. 95-113), Reston, VA: National Council of Teachers of Mathematics.</p>
<p>Tzur, R. (1999). An integrated study of children's construction of improper fractions and the teacher's role in promoting that learning. Journal for Research in Mathematics Education, 30(4), 390-416.</p>
<p>Van de Walle, J., Karp, K., Bay-Williams, J. (2010). Elementary and Middle School Mathematics: Teaching Developmentally. Boston, MA: Allyn & Bacon.</p>
<p>Watanabe, T. (2006). The teaching and learning of fractions: a Japanese perspective. Teaching Children Mathematics, 12(7), 368-374.</p>
<p>Watanabe, T. (2007). Initial Treatment of Fractions in Japanese Textbooks. Focus on Learning Problems in Mathematics, 29(2), 41-60.</p>
<p>Watanabe, T. (2012, October). Thinking about Learning and Teaching Sequences for the Addition and Subtraction of Fractions. In C. Bruce (Chair), Think Tank on the Addition and Subtraction of Fractions. Think Tank conducted in Barrie, Ontario.</p>
<p>Wu, H. (2001, Summer). How to prepare students for algebra. American Educator, 25(2). 10-17.</p>
<p>Zhou, Z., Peverly, S., Xin, T. (2006). Knowing and teaching fractions: A cross-cultural study of American and Chinese mathematics teachers. Contemporary Educational Psychology, 31(4), 438-457.</p>

<div class="pdf-bottom-info">
<div class="col-md-2"></div>
  <div class="col-md-8 center">Fractions Operations: Multiplication and Division Literature Review </div>
</div>

</main>

<%- include partials/footer.ejs%>
