<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="./pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="./shapeSets">Unit F Fraction Shape Sets</a></li>
</ol>

<main class="container">
<!-- Insert content here-->
<!-- <h1>Fractions Teaching</h1> -->

<h1>Fraction Shape Sets</h1>

<h2>Description</h2>
<p>In this task, students will work with a discrete (set) model of shapes with various characteristics.
  Students will demonstrate their understanding of fractions of a set by identifying different attributes to
  describe fractions. They will be using symbolic notation to record and discuss their thinking.</p>

<h2>Mathematics</h2>
<p>Students need to understand that defining the whole for a set is different than defining the whole when
  using an area model. In this task; the students may select different wholes since they are working with sets.
  For example, the whole could be 23 shapes total, so the fractional unit is twenty-thirds, or it could be the
  6 triangles, making the fractional unit sixths. Understanding that the denominator of a fraction is the fractional
  unit is important.</p>

<h2>Curriculum Connections</h2>
<p>Students will:</p>
<ul>
  <li>develop an understanding of fractions of a set where the whole may change and the fraction is dependent upon the attributes which are being considered (e.g. shapes, sizes, shading);</li>
  <li>understand that a denominator represents the size of the fractional unit or total number of equal parts in the whole;</li>
  <li>understand that a numerator represents the parts we are counting (e.g., number of rectangles).</li>
</ul>

<h2>Instructional sequence</h2>
<ol>
<li>Show students the set of shapes and ask them to name as many fractions as possible. Have them record these fractions using
  symbolic notation. Encourage them to annotate their fractions by indicating which attribute(s) they are using to generate
  the fraction (e.g., 5 red shapes &fracl; 23 total shapes).</li>
<li>Allow 10 minutes for groups to list all the fractions they see and then ask students to share some of the fractions they see. Students should be willing to justify their fraction.</li>
<li>Give students more time to look for additional fractions now that they have heard some other ideas.</li>
<li>Consolidate using the key questions and having students explain how changing the whole can result different fractions when
  working with a set model. If students haven’t identified fractions of a subset of shapes, have them explain how someone might
  have used the fraction <abbr title="four sixths">4&fracl;6</abbr> to describe the set (four-sixths of the triangles are shaded).</li>
</ol>

<h2>Highlights of student thinking</h2>
<p>Students may:</p>
<ul>
<li>need prompting to see that there may be other wholes to consider within the whole set (sub sets);</li>
<li>identify a subset within the whole by focusing on multiple attributes, such as the shape then colour (<abbr title="for example">e.g.</abbr>, one-fifth of the squares are red);</li>
<li>struggle to record a fraction using symbolic notation;</li>
<li>refer to their chosen fraction as “2 out of 5”. Encourage fraction language such as “two fifths”, which emphasizes both the fraction as a single number and the fractional unit;</li>
<li>intuitively add and subtract fractions (e,g, if <abbr title="two fifths">2&fracl;5</abbr> of the shapes are striped, <abbr title="three fifths">3&fracl;5</abbr> are not).</li>
</ul>

<h2>Key questions</h2>
<ol>
  <li>What does symbolic notation look like? What does it mean?</li>
  <li>How did you define the whole?</li>
  <li>Can your whole change? or Did your whole change?</li>
</ol>

<h2>Materials</h2>
<ul>
<li>BLM 1 (projected or printed for small groups)</li>
</ul>

<div class="row">
<a href="/tasks/shapeSetsTemplate">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/templatesIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Task Templates</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/shapeSetsImplementation">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/implementaionIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Implementation</h3>
      </div>
    </div>
  </div>
</a>

<a href="/tasks/walkLineStudentThinking">
  <div class="col-md-4">
    <div class="thumbnail medRec">
      <img src="/images/pathway/studentThinkingIcon.png" alt="Unit A Walk the Line Task" height="100px" width="100px">
      <div class="caption">
          <h3>Student Thinking</h3>
      </div>
    </div>
  </div>
</a>
</div><!-- end row -->



<h2>Additional Resources</h2>
<!-- Insert additional resources content here-->
<div class="row">
  <a href="/supportDocs/waysWeUseFrac">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/waysUse1.png" alt="Ways We Use Fractions" height="100px" width="100px" >
        <div class="caption">
          <h3>Ways We Use Fractions</h3>
        </div>
      </div>
    </div>
  </a>

  <a href="/supportDocs/devFracNumSense">
    <div class="col-md-4">
      <div class="thumbnail smallRec">
        <img src="/images/research/supportDocs/devFracNumSense1.png" alt="Developing Fraction Number Sense" height="100px" width="100px" >
        <div class="caption">
          <h3>Developing Fraction Number Sense</h3>
        </div>
      </div>
    </div>
  </a>


</div><!-- end row -->

<%- include partials/footer.ejs%>
