<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Activities</a></li>
    <li><a href="/tasks/pathwayTasks">Fractions Pathway Tasks</a></li>
    <li><a href="/tasks/brownie">Unit B Brownie Sharing</a></li>
    <li><a href="/tasks/brownieImplementation">Brownie Sharing Implementation</a></li>
</ol>

<main class="container">
<!-- Insert content here-->

<iframe width="560" height="315" src="https://www.youtube.com/embed/GRXeaM_qsV0" frameborder="0" allowfullscreen></iframe>

<!-- Insert transcript accordian here-->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Transcript</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Panel Body</div>
    </div>
  </div>
</div>


<%- include partials/footer.ejs%>
